
/* This is the little + background */
.user_background{
  background-color: #ffffff;
  background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 100px 100px, linear-gradient(#B58DED 8px, transparent 8px) 0 -4px, linear-gradient(90deg, #B58DED 8px, #e5e5f7 8px) -4px 0;
  background-size: 200px 200px, 200px 200px, 100px 100px, 100px 100px;
}

/* The generated Message */
.greeting_message{
  padding-top: 20px;
  padding-bottom: 20px;
}


/* This is the name under the Profile Picture*/
.users_name{
  padding-top: 15px;
  padding-bottom: 15px;
}


.user_profile_pic{
  max-width: 400px;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  /* Actual Container for the pic and text */
  .user_profile_pic {
    max-width: 200px;
  }
}


/* THESE ARE THE PROFILE PICS IN THE USER LIST ITEM*/
.userListItem_profile_pic{
  max-width: 120px;
}
@media (max-width: 768px) {
  /* Actual Container for the pic and text */
  .userListItem_profile_pic {
    max-width: 100px;
  }
}

















  /* Actual Container for the pic and text */
.profile_box {
  width: 800px;
  height: 500px;

  padding: auto;
  margin: auto;

  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
}


@media (max-width: 768px) {
  /* Actual Container for the pic and text */
  .profile_box {
    width: 300px;
    height: 400px;
  }
}



.profile_card {
  position: absolute;
  width: 95%;
  height: 95%;
  background: #000814;
  border-radius: 20px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
  padding: 20px;
  /* cursor: pointer; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
}


.profile_box::before{
  content: "";
  position: absolute;
  /* width: 40%;
  height: 150%; */
  width: 200%;
  height: 250%;

  background: #40E0D0;
  background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
  background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
  animation: glowing01 5s linear infinite;
  transform-origin: center;
  animation: glowing 5s linear infinite;
}

@keyframes glowing {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}






.users_roles{
  color: #f9b234;
  font-size: 20px;

  padding-top: 5px;
  padding-bottom: 5px;

  /* Gets rid of ol's bullet points */
  list-style-type: none 
}