








/* When the cursor hovers over things with this class it will become a small hand*/
.cursor_pointer{
  cursor: pointer;
}


/* This makes the checkbox the user clicks to open nav invisible */
input[type="checkbox"]{
  display: none;
}


/* This is the small circle in the corner */
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;

  background: #b58ded;
  border: 3px solid black;

  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

/* This is the hamburger menu when the nav is not open */
.menu-btn span,
.menu-btn:before,
.menu-btn:after{
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 30%;
	width: 40%;
	border-bottom: 2px solid #000;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before{
  transform: translateY(-8px);
}
.menu-btn:after{
  transform: translateY(7px);
}


/* This is the X that will appear once the checkbox is checked and the nav opens*/
#active:checked + .menu-btn span {
	transform: scaleX(0);
}
#active:checked + .menu-btn:before {
	transform: rotate(45deg);
  border-color: #fff;
}
#active:checked + .menu-btn:after {
	transform: rotate(-45deg);
  border-color: #fff;
}




/* This is the wrapper that opens when the checkbox is clicked */
.wrapper{
  border: 10px solid white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-color: #b58ded;

  /* This is where on the screen the circle will begin expanding  */
  /* */
  clip-path: circle(25px at calc(100% - 45px) 45.5px);

  /* Speed at which the wrapper appears */
  transition: all 0.3s ease-in-out;
}
/* This is what makes the circle item and opens to the full screen*/
#active:checked ~ .wrapper{
  clip-path: circle(75%);

  border-radius: 0;
}




/* This aligns the text in the center of the screen*/
.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}


/* Space between Each Object */
.wrapper ul li{
  margin: 20px 0;
}


/* This is what makes the links look how they look */
.wrapper ul li a{
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  background-color: #212529;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}


/* This is the hover effect of having the swirling colors on the border */
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%; 
  border-radius: 50px;
  
  transform: scaleY(0);
  
  z-index: -1;
  animation: rotate 1.5s linear infinite;
  background: linear-gradient(#b58ded, #b58ded, #b58ded);
  transition: all 0.3s ease 0s;
}
/* This is the  effect of the actual colored border being shown on the hover*/
.wrapper ul li a:hover:after{
  /* transform: scaleY(1.1); */
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}
/* This is the text being hovered */
.wrapper ul li a:hover{
  color: #fff;
  /* -webkit-animation: jello-textboxs 0.9s both;
  animation: jello-textboxs 0.9s both; */
  transition: all 0.3s ease 0s;
  margin-top: 35px;
  margin-bottom: 35px;
}




@-webkit-keyframes jello-textboxs {
0% {
-webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
40% {
-webkit-transform: scale3d(0.75, 1.25, 1);
  transform: scale3d(0.75, 1.25, 1);
}
50% {
-webkit-transform: scale3d(1.15, 0.85, 1);
  transform: scale3d(1.15, 0.85, 1);
}
65% {
-webkit-transform: scale3d(0.95, 1.05, 1);
  transform: scale3d(0.95, 1.05, 1);
}
75% {
-webkit-transform: scale3d(1.05, 0.95, 1);
  transform: scale3d(1.05, 0.95, 1);
}
100% {
-webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
}
@keyframes jello-textboxs {
0% {
-webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
40% {
-webkit-transform: scale3d(0.75, 1.25, 1);
  transform: scale3d(0.75, 1.25, 1);
}
50% {
-webkit-transform: scale3d(1.15, 0.85, 1);
  transform: scale3d(1.15, 0.85, 1);
}
65% {
-webkit-transform: scale3d(0.95, 1.05, 1);
  transform: scale3d(0.95, 1.05, 1);
}
75% {
-webkit-transform: scale3d(1.05, 0.95, 1);
  transform: scale3d(1.05, 0.95, 1);
}
100% {
-webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
}

/* Rotate the X and the hamburger */
@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
} 
