#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  width: 100%;
}


html {
  box-sizing: border-box;
}


body{
  background: linear-gradient(150deg, #d1b0ff ,#1B8AF1, #B58DED);

  /* background-image: linear-gradient(to right, rgb(242, 112, 156), #ff9472); */


  text-align: center;
}







/* aaaaaaaaaaaaaaaaaa ANIMATIONS aaaaaaaaaaaaaaaaaa*/


/* ANIMATION USED IN: 
  LoginForm, RegisterForm
*/
.scale_in_center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}



.bounce_in_top{
-webkit-animation: bounce-in-top 1.1s both;
animation: bounce-in-top 1.1s both;
/* -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
}
@-webkit-keyframes bounce-in-top {
0% {
-webkit-transform: translateY(-500px);
  transform: translateY(-500px);
-webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
opacity: 0;
}
38% {
-webkit-transform: translateY(0);
  transform: translateY(0);
-webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
opacity: 1;
}
55% {
-webkit-transform: translateY(-65px);
  transform: translateY(-65px);
-webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
72% {
-webkit-transform: translateY(0);
  transform: translateY(0);
-webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
81% {
-webkit-transform: translateY(-28px);
  transform: translateY(-28px);
-webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
90% {
-webkit-transform: translateY(0);
  transform: translateY(0);
-webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
95% {
-webkit-transform: translateY(-8px);
  transform: translateY(-8px);
-webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
100% {
-webkit-transform: translateY(0);
  transform: translateY(0);
-webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
}
@keyframes bounce-in-top {
0% {
-webkit-transform: translateY(-500px);
  transform: translateY(-500px);
-webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
opacity: 0;
}
38% {
-webkit-transform: translateY(0);
  transform: translateY(0);
-webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
opacity: 1;
}
55% {
-webkit-transform: translateY(-65px);
  transform: translateY(-65px);
-webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
72% {
-webkit-transform: translateY(0);
  transform: translateY(0);
-webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
81% {
-webkit-transform: translateY(-28px);
  transform: translateY(-28px);
-webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
90% {
-webkit-transform: translateY(0);
  transform: translateY(0);
-webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
95% {
-webkit-transform: translateY(-8px);
  transform: translateY(-8px);
-webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
100% {
-webkit-transform: translateY(0);
  transform: translateY(0);
-webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
}



.bounce_in_bottom{
  -webkit-animation: bounce-in-bottom 1.1s both;
  animation: bounce-in-bottom 1.1s both;
}
@-webkit-keyframes bounce-in-bottom {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(65px);
            transform: translateY(65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(28px);
            transform: translateY(28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-bottom {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(65px);
            transform: translateY(65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(28px);
            transform: translateY(28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/* aaaaaaaaaaaaaaaaaa ANIMATIONS aaaaaaaaaaaaaaaaaa*/





