#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  width: 100%;
}


html {
  box-sizing: border-box;
}


body{
  background: linear-gradient(150deg, #d1b0ff ,#1B8AF1, #B58DED);
  text-align: center;
}



