



.wrapper{
  /* width:350px; */

  border-radius: 40px;

  border: none;

  background-image: linear-gradient(120deg,  #343A4F, #0F1620);




  background-image: linear-gradient(90deg, #414850, #131720);
  color: #D5E1EF;


  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


/* This is */
.spacer_text{
  user-select: none;
}



/* HHHHHHHHHHHHHHHHHHHHHHHHHHHHH TOP HEADER HHHHHHHHHHHHHHHHHHHHHHHHHHHHH */

.overviewInfo, .bottom_cap_under_accordion {
  padding: 30px;
}
.overviewInfo{
  background-image:  linear-gradient(176deg, #d1b0ff, #342945);
}



/* THIS IS ALL THE STUFF FOR THE TOP 2 BUTTONS */
.top_button_styles{
  
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  
  .right_button{
    position:relative;
  }
  .right_button::after {
      content: '';
    display: block;
    width: 8px;
    height: 8px;
    /* background-image: linear-gradient(90deg, #489be2, #0f629c); */
    border-radius: 50%;
    position: absolute;
    top: 11px;
    right: 8px;
}
  
  .right_button svg {
    color: #ababab73;
}
  .back_button, .right_button{
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}


.button_background{
  background-image: linear-gradient(120deg,  #343A4F, #0F1620);
   
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 3px 4px 5px 0px rgba(197, 197, 197, 0.1), inset 3px 6px 6px 5px rgba(78, 77, 77, 0.1), -2px -2px 8px 2px rgba(255,255,255,0.1), 2px 2px 6px 3px rgba(0,0,0,0.4);
}
/* THIS IS ALL THE STUFF FOR THE TOP 2 BUTTONS */



.bug_title_div {
    margin-bottom: 50px;
}
/* HHHHHHHHHHHHHHHHHHHHHHHHHHHHH TOP HEADER HHHHHHHHHHHHHHHHHHHHHHHHHHHHH */








/* bbbbbbbbbbbbbbbbbbbbbbbbbbbbb BOTTOM CAP WITH BUTTONS bbbbbbbbbbbbbbbbbbbbbbbbbbbbb*/


/* This is the long item that holds all of the buttons and updated text*/
.end_cap_base {
    display: flex;
    width: 100%;
    background-image: linear-gradient(120deg,  #343A4F, #0F1620);
    border-radius: 12px;
    overflow: hidden;
        box-shadow: -2px -2px 2px 0px rgba(80, 80, 80, 0.1), 2px 2px 3px 0px rgba(12, 12, 12, 0.3), inset 0px 0px 0px 2px rgba(80, 80, 80, 0.2);
    margin-top: 30px;
    padding: 15px;
  
    /* justify-content: space-between; */
    align-items: center;
}


/* This is the last updated on text */
.last_updated_on {
    font-size: 15px;
}


/* This is for the icons and text in the button */
.delete_text, .edit_text{
  margin-bottom: 3px;
}


/* This is the Edit button */
.edit_button{
  background-image: linear-gradient(151deg, #56b83e, #1b610a);
}


/* This is the delete button */
.delete_button {
  background-image: linear-gradient(151deg, #e33f3f, #ac1d1d);
}

/* bbbbbbbbbbbbbbbbbbbbbbbbbbbbb BOTTOM CAP WITH BUTTONS bbbbbbbbbbbbbbbbbbbbbbbbbbbbb*/














/* ^aaaaaaaaaa^ ACCORDION ^aaaaaaaaaa^ */




/* This gets rid of the stupid borders*/
.accordion-item{
  border: 0;
  /* border: 1px solid black; */
}


/* This changes the color when the accordion is open and the default color when loading*/
.accordion-button:not(.collapsed){
  color: #f6b7f7;
}


/* This is the outside button users click to see items inside accordion*/
.accordion-button{
  font-size: 30px;
  display:block;

  /* Will auto capitalize the first letter in each word*/
  text-transform: capitalize;

  color: #B58DED;
  /* background-color: #3b3b3b; */
  background-image: linear-gradient(90deg, #414850, #131720);
}

.accordion-button:focus{
  -webkit-animation: jello-textboxs 0.9s both;
  animation: jello-textboxs 0.9s both;
}
@-webkit-keyframes jello-textboxs {
0% {
-webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
40% {
-webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
}
50% {
-webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
}
65% {
-webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
}
100% {
-webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
}
@keyframes jello-textboxs {
0% {
-webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
40% {
-webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
}
50% {
-webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
}
65% {
-webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
}
100% {
-webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
}


.accordion-button:hover{
  background-color: #131720;
  color: #f6b7f7;
  transform: scale(1.05); 
  border: 1px solid white;
}


/* This is the items inside of the accordion */
.accordion-body{
  padding-top: 25px;
  padding-bottom: 25px;
}

/* The ordered list inside of steps to reproduce*/
.accordion_ol{
  list-style-position: inside;

  margin: 0;
  padding: 0;
}




/* ^aaaaaaaaaa^ ACCORDION ^aaaaaaaaaa^ */

























.edit-input {
  font-size: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
}

.edit-textarea {
  font-size: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  /* resize: none;
  overflow: hidden; /* Ensure no scrollbar appears */
}
