

.delete_button_background{
  background-image: linear-gradient(120deg,  #f41414, #cc3030);

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 3px 4px 5px 0px rgba(197, 197, 197, 0.1), inset 3px 6px 6px 5px rgba(78, 77, 77, 0.1), -2px -2px 8px 2px rgba(255,255,255,0.1), 2px 2px 6px 3px rgba(0,0,0,0.4);
}



.last_updated_on{
  color: white;
}


.item_being_edited{
  /* font-size: 40px; */

  cursor: pointer; /* Add this to show the cursor as a pointer when editable */

  transition: all 0.3s ease 0s;
}


.item_being_edited:hover , .item_being_edited:focus{
  margin: 10px;
  padding: 15px;

  border: 1px solid black;

  transform: scale(1.1);

  background-color: #B58DED; /* Add a background color for highlighting */

}



/* This will create a paper like background for anything named:  edit_mode_background*/
.edit_mode_background:hover, .edit_mode_background:focus{
  background-color: #e5e5f7;
  background-size: 20px 20px;
  background-image:  repeating-linear-gradient(0deg, #444cf7, #444cf7 1px, #e5e5f7 1px, #e5e5f7);
}









/* mmmmmmmmmmmmmmmmmmmmmmmmm CONFIRMATION MODAL mmmmmmmmmmmmmmmmmmmmmmmmm */

.modal-backdrop{
  /* background: none; */
  background: none;
}

/* Stupid entire screen cover modal adds when its clicked. This sends it to the very back to allow us to actually click modal*/
.modal-backdrop.show{
  z-index: -999;
}






.modal-confirm {		
	color: #fff;
  /* margin-top: 300px; */
	background-color: #B58DED;

	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-height: 100vh; /* Set a maximum height for the modal */
}


/* THIS is if I add a color for the background */
/* .modal-confirm {		
	color: #fff;
  margin-top: 300px;
  background-color: #B58DED;
}
@media only screen and (max-width: 600px) {
  .modal-confirm {		
    margin-top: 400px;
    background-color: #444cf7;
  }
} */


.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 25px;
	border: none;
	text-align: center;
	font-size: 14px;
  background-color: rgb(183, 35, 35);
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #e2e2e2;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}

.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 44px;

}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}









/* xxxxxxxxx Bug Elimination Game in Modal xxxxxxxxxxx */




/* This is the giant banner that spans the whole screen */
.delete_fullscreen_banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;

  /* background: url('/images/colored_find_bug.png') center/cover no-repeat;
  background-size: contain;  */

}





/* Text inside of the banner */
.delete_fullscreen_banner_content {
  max-width: 900px;
  position: relative;
  text-align: center;
}




.eliminate_bug_text {
  font-size: 50px; /* Adjust the font size based on your preference */
  margin-bottom: 450px;

	animation: scale-in-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}




.bug_image {
  width: 150px; /* Adjust the size based on your preference */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);



  margin-left: -75px; /* Half of the bug image width */
  margin-top: -75px; /* Half of the bug image height */
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}





.cross_hair {
  width: 400px; /* Adjust the size based on your preference */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  animation: swayAnimation 5s ease-in-out infinite;

  transition: all 0.3s ease 0s;

}

@keyframes swayAnimation {
  0%, 100% {
    transform: translate(-50%, -50%) translateX(-60px);
  }
  50% {
    transform: translate(-50%, -50%) translateX(60px);
  }
}




/* Add a hover effect to scale up the magnifying glass */
.cross_hair:hover {
  transform: translate(-50%, -50%) scale(1.2); /* Adjust the scale factor based on your preference */
  animation: none; /* Override the existing animation during hover */

  transition: all 0.3s ease 0s;

  cursor: pointer;
}


/* Show the crosshair after 2 seconds and make it smoothly transition in */
/* .show_crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: all 0.3s ease 0s;

	animation: scale-in-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} */


/* xxxxxxxxx Bug Elimination Game in Modal xxxxxxxxxxx */









/* mmmmmmmmmmmmmmmmmmmmmmmmm CONFIRMATION MODAL mmmmmmmmmmmmmmmmmmmmmmmmm */
