
/* aaaaaaaaaaaa COME IN ANIMATION aaaaaaaaaaaaaa */

.item_come_in_animation {
  animation-duration: 0.7s; 
  animation-delay: 0.5s;
  animation-name: animate-fade;
  /* animation-timing-function: cubic-bezier(.26,.53,.74,1.48); */
  animation-fill-mode: backwards;
}

/* Pop In */
.item_come_in_animation.item_pop {
  animation-name: animate-pop;
}
@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}



/* Animation Delays */
.delay-1 {
  animation-delay: 0.3s;
  }
  .delay-2 {
  animation-delay: 0.7s;
  }
  .delay-3 {
  animation-delay: 0.8s;
  }
  .delay-4 {
  animation-delay: 0.9s;
  }
  .delay-5 {
  animation-delay: 1s;
  }
  /* aaaaaaaaaaaa COME IN ANIMATION aaaaaaaaaaaaaa */
















/* Makes the boxes be in a flexbox*/
.item_list_box_flex {
  padding: 50px 0;
}


/* This is the size and corners of the box's */
.list_item{
  /* margin: 0 15px 30px; */
  overflow: hidden;
  border-radius: 28px;

  /* Set a fixed height for all items */
  height: 500px;
}



/* Title in the box */
.list_item_title{
  overflow: hidden;
  font-weight: bold;
  font-size: 32px;
  color: #000;
  z-index: 2;
  position: relative;
}


.bugsId{
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.edit_button_text{
  font-size: 18.5px;
  color: #000;
}
.edit_button_list_item{
  margin-top: 5px;
  margin-bottom: 5px;
}

.item_section_title{
  font-size: 21px;
}

/* The date specifically */
.item_highlighted {
  font-weight: bold;
  color: #f9b234;

  font-size: 18px;


  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}




.list_item_link {
  display: block;
  padding: 30px 20px;
  /* background-color: #191a1b; */
  background-color: #fff;
  overflow: hidden;
  position: relative;
  height: 100%; /* Take up the full height of the parent */
}







.item_list_box_flex:hover,
.item_list_box_flex:hover .list_item_dates {
  text-decoration: none;
  color: #FFF;
}



/* The items below the title  */
.item_section_container {
  /* font-size: 18px; */
  color: #000;


  /* Allows the items to be seen over the hover effect */
  z-index: 2;
  position: relative;
}





/* These are the colors in the top right and bottom left corners */
.background_circle_top_right,
.background_circle_bottom_left {
  height: 128px;
  width: 128px;
  background-color: #B58DED;
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  transition: all .5s ease;
}

.background_circle_top_right {
  top: -75px;
  right: -75px;
}

.background_circle_bottom_left {
  top: auto;
  bottom: -75px;
  left: -75px;
}





/* When the box is hovered the color will fill the box*/
.item_list_box_flex:hover .background_circle_top_right, .item_list_box_flex:hover .background_circle_bottom_left{
  -webkit-transform: scale(8);
  -ms-transform: scale(8);
  transform: scale(8);
}



/* After this amount of items are made that color will replace the color */
.list_item:nth-child(2n) .background_circle_top_right {
  background-color: #cd3e94;
}
.list_item:nth-child(3n) .background_circle_top_right {
  background-color: hsl(16, 98%, 45%);
}
.list_item:nth-child(4n) .background_circle_top_right {
  background-color: #952aff;
}
.list_item:nth-child(5n) .background_circle_top_right {
  background-color: #B58DED;
}
.list_item:nth-child(6n) .background_circle_top_right {
  background-color: #4c49ea;
}
.list_item:nth-child(7n) .background_circle_top_right {
  background-color: #ff78d7
  ;
}






@media only screen and (max-width: 979px) {
  .list_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .item_list_container {
    width: 96%;
  }

}

/* CELL PHONES */
@media only screen and (max-width: 639px) {
  .list_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .list_item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 25px;
  }

  .bugsId{
    font-size: 12px;
  }

  .item_list_box_flex {
    padding: 22px 40px;
  }
  .list_item_date_container {
    font-size: 16px;
  }
}










